
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/boovtstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS --> 
    <link href="{{ url_for('static',filename = 'css/bootstrap.min.css')  }}" rel="stylesheet">

    <title>Machine Learning Lab</title>
</head>

<body>
    <nav style="width: 100%;" class="navbar navbar-dark bg-secondary">
        <a class="  navbar-brand" href="#" style="margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-botttom: 0px;">
             <img style="max-height: auto; width:100%; border-radius: 25px;" src="{{ url_for('static',filename = 'image/PIET logo with tagline.jpg')  }}" 
             class="img-responsive" style="margin-top:0px;style=width: auto; height: auto; min-width:100%; min-height: auto;">
              <a href="/" style="color: red; margin-right: 10px;">HOME</a>
            
      </div>
           
        </a>
        
    </nav>
    
 <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="card mb-3 "; style="background-color:lightcyan;left: 250px;top: 20px;border-width: 3px;border-radius: 40px;border-color: darkcyan; width:800px; height: 300px;">
                    <div class="card-body">
                        <h2 style="text-align: left;font-family: fantasy;position: relative; left: 4px; top: 20px; font-size: 37px;">Linear Regression Model EX.</h2>
                        <a href="https://snoobe1.herokuapp.com//"><input class="btn btn-primary" type="button" value="Try It Yourself" style="border-radius: 14px;position: relative; left: 125px; font-size: 18px;"/></a>
                        <img style="width: 270px; height: 250px;position: relative; left: 350px; bottom: 52px"src="{{ url_for('static',filename = 'image/1.png')  }}">
                        <h3 style="font-family: fantasy;color: royalblue;position: relative; left: 592px; bottom: 49px; font-size: 21px;">GitHub QR</h3>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>        
    <br>

 <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="card mb-3 "; style="background-color:lightcyan;left: 300px;top: 20px;border-width: 3px;border-radius: 40px;border-color: darkcyan; width:700px; height: 300px;">
                    <div class="card-body">
                        <h2 style="text-align: left;font-family: fantasy;position: relative; left: 4px; top: 20px; font-size: 37px;">HOUSE PRICE PREDICTION</h2>
                        <a href="https://snoobe2.herokuapp.com//"><input class="btn btn-primary" type="button" value="Try It Yourself" style="border-radius: 14px;position: relative; left: 125px; font-size: 18px;"/></a>
                        <img style="width: 270px; height: 250px;position: relative; left: 260px; bottom: 52px"src="{{ url_for('static',filename = 'image/2.png')  }}">
                        <h3 style="font-family: fantasy;color: royalblue;position: relative; left: 492px; bottom: 49px; font-size: 21px;">GitHub QR</h3>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>        
    <br>

 <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="card mb-3 "; style="background-color:lightcyan;left: 300px;top: 20px;border-width: 3px;border-radius: 40px;border-color: darkcyan; width:700px; height: 300px;">
                    <div class="card-body">
                        <h2 style="text-align: left;font-family: fantasy;position: relative; left: 4px; top: 20px; font-size: 35px;">DECISION TREE MODELING EX.</h2>
                        <a href="https://snoobe838-itsproject3-app-1pov2y.streamlitapp.com/"><input class="btn btn-primary" type="button" value="Try It Yourself" style="border-radius: 14px;position: relative; left: 125px; font-size: 18px;"/></a>
                        <img style="width: 270px; height: 250px;position: relative; left: 260px; bottom: 52px"src="{{ url_for('static',filename = 'image/3.png')  }}">
                        <h3 style="font-family: fantasy;color: royalblue;position: relative; left: 492px; bottom: 49px; font-size: 21px;">GitHub QR</h3>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>        
    <br>

 <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="card mb-3 "; style="background-color:lightcyan;left: 250px;top: 20px;border-width: 3px;border-radius: 40px;border-color: darkcyan; width:800px; height: 300px;">
                    <div class="card-body">
                        <h2 style="text-align: left;font-family: fantasy;position: relative; left: 4px; top: 20px; font-size: 37px;">PASSANGER's SURVIVAL PRED.</h2>
                        <a href="https://snoobe4.herokuapp.com//"><input class="btn btn-primary" type="button" value="Try It Yourself" style="border-radius: 14px;position: relative; left: 125px; font-size: 18px;"/></a>
                        <img style="width: 270px; height: 250px;position: relative; left: 350px; bottom: 52px"src="{{ url_for('static',filename = 'image/4.png')  }}">
                        <h3 style="font-family: fantasy;color: royalblue;position: relative; left: 592px; bottom: 49px; font-size: 21px;">GitHub QR</h3>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>        
    <br>

 <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="card mb-3 "; style="background-color:lightcyan;left: 300px;top: 20px;border-width: 3px;border-radius: 40px;border-color: darkcyan; width:700px; height: 300px;">
                    <div class="card-body">
                        <h2 style="text-align: left;font-family: fantasy;position: relative; left: 4px; top: 20px; font-size: 37px;">REVIEW CHECKING BY NLP</h2>
                        <a href="https://snoobe838-itsproject5-app-g3uh1e.streamlitapp.com/"><input class="btn btn-primary" type="button" value="Try It Yourself" style="border-radius: 14px;position: relative; left: 125px; font-size: 18px;"/></a>
                        <img style="width: 270px; height: 250px;position: relative; left: 260px; bottom: 52px"src="{{ url_for('static',filename = 'image/5.png')  }}">
                        <h3 style="font-family: fantasy;color: royalblue;position: relative; left: 492px; bottom: 49px; font-size: 21px;">GitHub QR</h3>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>        
    <br>

 <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="card mb-3 "; style="background-color:lightcyan;left: 300px;top: 20px;border-width: 3px;border-radius: 40px;border-color: darkcyan; width:700px; height: 300px;">
                    <div class="card-body">
                        <h2 style="text-align: left;font-family: fantasy;position: relative; left: 4px; top: 20px; font-size: 37px;">PLACEMENT PREDICTIONS</h2>
                        <a href="https://snoobe5.herokuapp.com//"><input class="btn btn-primary" type="button" value="Try It Yourself" style="border-radius: 14px;position: relative; left: 125px; font-size: 18px;"/></a>
                        <img style="width: 270px; height: 250px;position: relative; left: 260px; bottom: 52px"src="{{ url_for('static',filename = 'image/6.png')  }}">
                        <h3 style="font-family: fantasy;color: royalblue;position: relative; left: 492px; bottom: 49px; font-size: 21px;">GitHub QR</h3>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>        
    <br>

 <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="card mb-3 "; style="background-color:lightcyan;left: 300px;top: 20px;border-width: 3px;border-radius: 40px;border-color: darkcyan; width:700px; height: 300px;">
                    <div class="card-body">
                        <h2 style="text-align: left;font-family: fantasy;position: relative; left: 55px; top: 20px; font-size: 37px;">MALL CUSTOMERS</h2>
                        <a href="https://snoobe6.herokuapp.com//"><input class="btn btn-primary" type="button" value="Try It Yourself" style="border-radius: 14px;position: relative; left: 125px; font-size: 18px;"/></a>
                        <img style="width: 270px; height: 250px;position: relative; left: 260px; bottom: 52px"src="{{ url_for('static',filename = 'image/7.png')  }}">
                        <h3 style="font-family: fantasy;color: royalblue;position: relative; left: 492px; bottom: 49px; font-size: 21px;">GitHub QR</h3>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>        
    <br>

 <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="card mb-3 "; style="background-color:lightcyan;left: 300px;top: 20px;border-width: 3px;border-radius: 40px;border-color: darkcyan; width:700px; height: 300px;">
                    <div class="card-body">
                        <h2 style="text-align: left;font-family: fantasy;position: relative; left: 55px; top: 20px; font-size: 37px;">CHURN MODELING</h2>
                        <a href="https://snoobe7.herokuapp.com//"><input class="btn btn-primary" type="button" value="Try It Yourself" style="border-radius: 14px;position: relative; left: 125px; font-size: 18px;"/></a>
                        <img style="width: 270px; height: 250px;position: relative; left: 260px; bottom: 52px"src="{{ url_for('static',filename = 'image/8.png')  }}">
                        <h3 style="font-family: fantasy;color: royalblue;position: relative; left: 492px; bottom: 49px; font-size: 21px;">GitHub QR</h3>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>        
    <br>




    <br><br><br><br><br><br
    
   <br>
   <br>



                <h1>Disclaimer</h1>
                <br>
                <p style="font-size:20px;text-align:justify;color:red">This website contains images and content  obtained  by  routine Google Images/document  searches. Some of these  images/data may perhaps be under copyright. They are  included here for educational and noncommercial  purposes and are considered to be covered by  the doctrine of Fair Use. In any event they are  easily available from Google Images/data.It's not feasible to give full scholarly credit to the  creators of these images/data. We hope they can be  satisfied with the positive role. </p>
              
                
                
     <br>
     <br>
     <br><br><br><br><br><br>
    
    
    
    <div class="fixed-bottom ">
        <div class="bg-secondary " style="min-height: 40px;">

            <marquee style="color:#fff; margin-top: 7px;">
                <h9>Developed by SHUBHAM PAREEK (SNOOBE), Department of Computer Engineering, PIET</h9>
            </marquee>
        </div>
    </div>
    <!-- change later-->
    <script src="{{ url_for('static',filename = 'js/bootstrap.bundle.min.js')  }}"></script>

</body>

</html>
